@model FolderHierarchy_GFL_.ViewModels.FoldersViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>"Folder" - @Model.Name </h2>

 <div class="children-folders">
    @if(Model.Childrens.Count>0){
        @foreach (var item in Model.Childrens) {
            @Html.ActionLink(item.Name,"Index", "Folder", new{ path = @Model.Path + "/" + item.Name})
        }
    }
    else{
        <h3>The folder has no child folders</h3>
    }
</div>

