@model FolderHierarchy_GFL_.ViewModels.FoldersViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>"Folder" - @Model.Name </h2>

 <div class="children-folders">
    @if(Model.Childrens.Count>0){
        @foreach (var item in Model.Childrens) {
            @Html.ActionLink(item.Name,"Index", "Folder", new{ id = item.Id})
        }
    }
    else{
        <h3>The folder has no child folders</h3>
    }
</div>

@if(Model.Id > 1){
    @Html.ActionLink("Back","Index", "Folder", new{ id = Model.Id-1})
}
